* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	font-family: 'Arial';
	height: 100%;
	font-size: 16px;
	line-height: 1.5;
}

.center {
	max-width: 960px;
	margin: auto;
}

h1 {
	text-align: center;
	margin: 30px 0;
	font-size: 28px;
}

h1 span {
	color: lightblue;
}

input {
	display: block;
	width: 100%;
	padding: 10px 25px;
	outline: 0;
	margin: 3em 0 1em;
	font-size: inherit;
}

button {
	display: block;
	width: 100%;
	border: none;
	background-color: #6441a5;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

.app {
	height: 600px;
	overflow: hidden;
	position: relative;
	display: flex;
	overflow: auto;
	justify-content: center;
	background-color: #6441a5;
	padding: 15px;
	color: white;
	border-radius: 10px;
	flex-wrap: wrap;
}

.app-inner {
	flex-basis: 50%;
	text-align: center;
	padding: 20px;
}

.app-inner p {
	transition: all 450ms;
	opacity: 0;
	transform: translateY(10px);
	margin-bottom: 60px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #5da591;
}

.app-inner .show {
	opacity: 1;
	transform: translateY(0px);
	
}